.button {
	display: inline-block;
	padding: 7px 15px;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	
	background: #80b4d0; /* Old browsers */
	background: -moz-linear-gradient(top,  #80b4d0 0%, #5d97be 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80b4d0), color-stop(100%,#5d97be)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #80b4d0 0%,#5d97be 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #80b4d0 0%,#5d97be 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #80b4d0 0%,#5d97be 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #80b4d0 0%,#5d97be 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b4d0', endColorstr='#5d97be',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: inset 0 1px 0 #4A81A3,inset 1px 0 0 #4A81A3,inset -1px 0 0 #4A81A3,inset 0 -1px 0 #4A81A3,inset 0 2px 0 rgba(255, 255, 255, 0.3),inset 0 0 4px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0 #4A81A3,inset 1px 0 0 #4A81A3,inset -1px 0 0 #4A81A3,inset 0 -1px 0 #4A81A3,inset 0 2px 0 rgba(255, 255, 255, 0.3),inset 0 0 4px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0, 0, 0, 0.3);
}

.button:hover {
	color: #ddd;
	background: #80b4d0; /* Old browsers */
	background: -moz-linear-gradient(top,  #80b4d0 0%, #518ab3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80b4d0), color-stop(100%,#518ab3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #80b4d0 0%,#518ab3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #80b4d0 0%,#518ab3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #80b4d0 0%,#518ab3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #80b4d0 0%,#518ab3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b4d0', endColorstr='#518ab3',GradientType=0 ); /* IE6-9 */	
}

.button:active {
	-webkit-box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.5),inset 1px 0 0 rgba(10, 10, 10, 0.3),inset -1px 0 0 rgba(10, 10, 10, 0.4),inset 0 -1px 0 rgba(10, 10, 10, 0.5),inset 0 1px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.5),inset 1px 0 0 rgba(10, 10, 10, 0.3),inset -1px 0 0 rgba(10, 10, 10, 0.4),inset 0 -1px 0 rgba(10, 10, 10, 0.5),inset 0 1px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.3);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: black;
}

a {
  color: #00B7FF;
}

.container-game {
	width: 1140px;
	border-radius: 4px;
	border: 1px solid #B9B9B9;
	height: 690px;
	margin: auto;
	background-color: rgb(247,247,247);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.18);	
}

.game-main {
	width: 840px;
	height: 690px;
	float: left;
/*	border: 1px solid black;*/
	border-right: 1px solid #ccc;
}

.game-main .game-map-wrapper {
	width: 840px;
	height: 630px;	
}

.game-map-wrapper .map-zoomed {
	outline: none !important; 
}

.game-map-wrapper .map-zoomed .row {
	width: 840px;
	height: 30px;
}


.game-map-wrapper .map-zoomed .row .tile {
	width: 40px;
	height: 30px;
	float: left;
	position: relative;
	line-height: 30px;
	text-align: center;
}

.game-map-wrapper .map-zoomed .row .tile.selected {
	background: #fff url(../images/concrete_selected.png);
}

.game-map-wrapper .map-zoomed .row .tile .icon-player {
	width: 15px;
	height: 15px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px #999;
	border: 1px solid #ccc;
	background: rgb(247,211,54);

	position: absolute;
	top: 6px;
	left: 11px;	
	z-index: 10;
}

.game-map-wrapper .map-zoomed .row .tile .icon-bomb {
	background: url(../images/bomb.png) no-repeat center;
	position: absolute;
	width: 40px;
	height: 30px;
	z-index: 9;
}

.game-map-wrapper .map-zoomed .row .tile .icon-explosion {
	background: url(../images/explosion.png) no-repeat center;
	position: absolute;
	width: 40px;
	height: 30px;
}

.game-map-wrapper .map-zoomed .row .tile .icon-extra-bomb {
	background: url(../images/item-bomb.gif) no-repeat center;
	position: absolute;
	width: 40px;
	height: 30px;
}

.game-map-wrapper .map-zoomed .row .tile .icon-explosion-expander {
	background: url(../images/item-explosion.gif) no-repeat center;
	position: absolute;
	width: 40px;
	height: 30px;
}

.game-map-wrapper .map-zoomed .row .tile .icon-player.selected {
	box-shadow: 0px 0px 10px #99f;
	border: 3px solid #fff;
	top: 4px;
	left: 10px;
}

.game-map-wrapper .map-zoomed .row .grass {
	background: #fff url(../images/grass.png);
}

.game-map-wrapper .map-zoomed .row .water {
	background: #fff url(../images/water.png);
}

.game-map-wrapper .map-zoomed .row .concrete {
	background: #fff url(../images/concrete.png);
}

.game-map-wrapper .map-zoomed .row .wood {
	background: #fff url(../images/wood.png);
}

.game-main .game-controls-wrapper {
	width: 840px;
	height: 60px;
	background-color: #333;
	border-radius: 0 0 0 3px;
}

.game-main .game-controls-wrapper .game-start, .game-main .game-controls-wrapper .game-instructions {
	display: inline-block;
	padding: 14px 20px;
	display: none;
}


.game-main .game-controls-wrapper .game-instructions a {
	margin-right: 5px;
	width: 30px;
	padding: 7px 10px;
	text-align: center;
}

.game-main .game-controls-wrapper .game-instructions .set-bomb {
	width: 70px;
}

.game-main .game-controls-wrapper .game-instructions .set-bomb img {
	height: 14px;
}


.game-main .game-controls-wrapper .game-instructions .buffer {
	width: 50px;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	text-align: center;
	color: #fff;
}



.game-sidebar {
	float: left;
	width: 299px;
}

.game-sidebar .users-wrapper .users-list .user-item .user-status {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-right: 5px;
}

.game-sidebar .users-wrapper .users-list .user-item .user-status.ready {
	background-color: #33ee33;
}

.game-sidebar .users-wrapper .users-list .user-item .user-status.waiting {
	background-color: rgb(247, 204, 33);
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
	padding: 5px 10px;
}

ul li:nth-child(odd) {
	background-color: #fff;
}

ul li:nth-child(even) {
	background-color: #efefef;
}

.game-sidebar .users-wrapper {
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 0 #fff;
	height: 200px;
	overflow-y: auto;
	border-radius: 0 4px 0 0;
}

.game-sidebar .chat-wrapper {
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 0 #fff;
}

.game-sidebar .chat-wrapper .chat-messages {
	height: 387px;
	border-bottom: 1px solid #ccc;
	overflow-y: auto;
	font-size: 12px;
}

.game-sidebar .chat-wrapper .chat-input-wrapper #chat-input {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	display: block;
	width: 290px;
	margin: 3px auto;
}

.game-sidebar .chat-wrapper .nickname-input-wrapper #nickname-input {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	display: block;
	width: 290px;
	margin: 3px auto;
}

.game-sidebar .users-wrapper .heading, .game-sidebar .chat-wrapper .heading {
	text-align: center;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 10px;
}

.chat-messages .username {
	font-weight: bold;
}